.main {
	background-color: hsl(from var(--accent) h s l / 0.4);
	border: 1px solid hsl(from var(--foreground) h s l / 0.3);
	border-radius: var(--s-0-25);
	box-shadow: 0 2px 0 rgb(0 0 0 / 0.6);
	color: var(--foreground);
	font-size: 0.8rem;
	line-height: 1.6;
	padding: var(--s-0-25) var(--s);
	text-align: center;
	touch-action: manipulation;
	white-space: nowrap;

	&[disabled] {
		cursor: not-allowed;
		opacity: 0.5;
	}

	transition: background-color 150ms;
	&:hover:not([disabled]) {
		background-color: hsl(from var(--accent) h s l / 0.5);
	}
}

.list {
	display: flex;
	flex-wrap: wrap;
	gap: var(--s-0-5);
}
