.divider {
	border: none;
	height: 1px;
	background-color: hsl(from var(--background) h 25% 10%);
	margin: 1em 0;
}

.accent {
	background-color: hsl(from var(--accent) h s 15%);
}

.full {
	margin-left: calc(-1 * var(--s));
	margin-right: calc(-1 * var(--s));
	max-width: none;
}
