.divider {
	border: none;
	height: 1px;
	background-color: oklch(from var(--background) 23% 12% h);
	margin: 1em 0;
}

.accent {
	background-color: hsl(from var(--accent) h s 15%);
}

.full {
	margin-left: calc(-1 * var(--s));
	margin-right: calc(-1 * var(--s));
	max-width: none;
}

.vertical {
	width: 1px;
	height: auto;
	margin: calc(-1 * var(--s)) 0;
}
