.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
	grid-gap: var(--s-1-5);
	grid-auto-flow: dense;
	padding: 0 var(--s);
	max-width: calc(900px + 2 * var(--s));
	margin: auto;
}

.cell {
	--x: 1;
	--y: 1;
	grid-column: span var(--x);
	grid-row: span var(--y);
	border-radius: var(--s-0-5);
	overflow: hidden;
	margin: 1px;
	box-shadow:
		-1px -1px 1px 0 oklch(from var(--background) 25% 12% h),
		1px 1px 1px 0 oklch(from var(--background) 15% 12% h),
		0 0 1px 1px oklch(from var(--background) 20% 12% h);

	padding: var(--s);

	position: relative;
	z-index: 0;

	@media (width < 500px) {
		grid-column: 1 / -1;
	}
}

.bg {
	position: absolute;
	inset: 0;
	z-index: -1;
	isolation: isolate;

	background:
		fixed repeat center / 40px 40px
			radial-gradient(in oklch, oklch(from var(--foreground) l c h / 0.2) 1px, transparent 0),
		oklch(from var(--background) 13% c h / 1);

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		z-index: -1;
		background: fixed
			linear-gradient(
				135deg,
				oklch(from var(--background) 30% c h / 0) 45dvmin,
				oklch(from var(--background) 30% c h / 0.3) calc(45dvmin + 200px),
				oklch(from var(--background) 30% c h / 0.1) calc(45dvmin + 300px),
				oklch(from var(--background) 30% c h / 0) calc(45dvmin + 500px)
			);
	}

	&::after {
		content: "";
		position: absolute;
		inset: 0;
		z-index: -1;
		backdrop-filter: blur(2px);
	}
}

.row {
	grid-column: 1 / -1;
}
