.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
	grid-gap: var(--s-1-5);
	grid-auto-flow: dense;
	padding: 0 var(--s);
	max-width: calc(750px + 2 * var(--s));
	margin: auto;
}

.cell {
	--x: 1;
	--y: 1;
	grid-column: span var(--x);
	grid-row: span var(--y);
	border-radius: var(--s-0-5);
	overflow: hidden;
	border: 1px solid hsl(from var(--background) h 25% 10%);
	background-color: hsl(from var(--background) h s 3% / 0.3);
	backdrop-filter: blur(1px) brightness(120%);
	padding: var(--s);

	@media (width < 500px) {
		grid-column: 1 / -1;
	}
	@media (prefers-color-scheme: light) {
		background-color: hsl(from var(--background) h s 99%);
	}
}

.row {
	grid-column: 1 / -1;
}
