.output {
	background: black;
	padding: var(--s);
	border-radius: var(--s-0-5);
	white-space: pre-wrap;
	display: block;
	margin: var(--s-0-5) 0;
	transition: border-color 400ms;
	border: 1px solid oklch(from var(--background) 23% 12% h);
	font-family: "Consolas", monospace;
}

.active {
	transition-duration: 0ms;
	border-color: oklch(from var(--accent) 65% 60% h / 0.5);
}
